.extra-content{
    font-family:arial;
    color:grey;

}
.title-lol{
    font-family:arial;
    font-weight:bold;
    margin-bottom:10x;
    
}
.description-afk{
    font-family:arial;
    width:500px;
    margin-top:10px;
    
}
.a-b{
    font-family:arial;

}
.b-c{
    color:rgb(49, 162, 178);
}
