.logo{
    width:200px;
    margin:350px;
    vertical-align:middle;
    
    margin-bottom: 5px;
    
}
.lol{
    display:inline-block;
    width:300px;
    border-radius:40px;
    border:none;
    margin:300px;
    margin-top:0px;
    vertical-align:middle;
    box-shadow:0 1px 5px rgb(0,0,0,0.25);
}
